{% extends 'base-clean.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form method="post">
                        <div class="card-group d-block d-md-flex row">
                            <div class="card col-md-7 p-4 mb-0">
                                <div class="card-body">
                                    <h1>Login</h1>
                                    {% if app.user %}
                                        <div class="mb-3">
                                            Você já está logado como {{ app.user.userIdentifier }}, <a
                                                    href="{{ path('app_logout') }}">Logout</a> ou <a
                                                    href="{{ path('app_admin_dashboard') }}">Dashboard</a>
                                        </div>
                                    {% endif %}
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    <p class="text-medium-emphasis">Informe seu dados de acesso</p>
                                    <div class="input-group mb-3"><span class="input-group-text">
<svg class="icon">
<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
</svg></span>


                                        <input type="email" value="{{ last_username }}" name="_username" id="username"
                                               class="form-control" autocomplete="email" required autofocus
                                               placeholder="teste@dominio.com.br">

                                    </div>
                                    <div class="input-group mb-4"><span class="input-group-text">
<svg class="icon">
<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
</svg></span>

                                        <input type="password" name="_password" id="password" class="form-control"
                                               autocomplete="current-password" required type="password"
                                               placeholder="Password">

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                                        >

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary px-4" type="submit">Login</button>
                                        </div>
                                        <div class="col-6 text-end">
                                            {#                                        <button class="btn btn-link px-0" type="button">Forgot password?</button> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-5 text-white bg-primary py-5">
                                <div class="card-body text-center">
                                    <div>
                                        <h2>Ajuda</h2>
                                        <p>Se você estiver com dificuldade em acessar esta área, contacte nosso
                                            suporte.</p>
                                        <a href="https://www.google.com" target="_blank"
                                           class="btn btn-lg btn-outline-light mt-3" type="button">Suporte
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}