{{ form_start(form) }}
<div class="row">

    <label for="{{ form.imageFile.vars.id }}" class="form-label">Imagem</label>
    <div class="mb-3 col col-12 mb-4">
        {% if news.image %}
            <img class="mt-3" src="{{ vich_uploader_asset(news, 'imageFile') }}" width="150px">
            <br>
            <br>
        {% endif %}
        {{ form_widget(form.imageFile) }}
    </div>

    <div class="mb-3 col col-4">
        <label for="{{ form.status.vars.id }}" class="form-label">Mostrar no Site ?</label>
        {{ form_widget(form.status, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-4">
        <label for="{{ form.highlighted.vars.id }}" class="form-label">Em Destaque</label>
        {{ form_widget(form.highlighted, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-4">
        <label for="{{ form.date.vars.id }}" class="form-label">Data da Notícia</label>
        {{ form_widget(form.date, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-6">
        <label for="{{ form.title.vars.id }}" class="form-label">Título</label>
        {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-6">
        <label for="{{ form.shortDescription.vars.id }}" class="form-label">Chamada da Notícia</label>
        {{ form_widget(form.shortDescription, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-12">
        <label for="{{ form.youtubeVideoCode.vars.id }}" class="form-label">Vídeo</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">https://youtube.com/watch?v=/</span>
            {{ form_widget(form.youtubeVideoCode, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="mb-3 col col-6">
        <label for="{{ form.category.vars.id }}" class="form-label">Categorias</label>
        {{ form_widget(form.category, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-6">
        <label for="{{ form.language.vars.id }}" class="form-label">Idioma</label>
        {{ form_widget(form.language, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-12">
        <label for="{{ form.fullDescription.vars.id }}" class="form-label">Descrição Completa</label>
        {{ form_widget(form.fullDescription, {'attr':{'class':'form-control editor'}}) }}
    </div>

</div>

<script src="https://cdn.tiny.cloud/1/fgoswlkgkpmdzt0fcrpns1iaszu7uspeqxnd841096wuq5wp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        menubar: false,
        selector: 'textarea.editor',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | fontsize | bold italic underline strikethrough | numlist bullist | removeformat',
    });
</script>

<style>
    #news_category input[type='checkbox'] {
        display: inline-block;
        margin-right: 10px;
        width: 3%;
    }
    #news_category label {
        display: inline-block;
        margin-right: 10px;
        width: 90%;
    }
</style>


<button class="btn btn-info float-start text-white">Salvar</button>
{{ form_end(form) }}
