{% extends 'base.html.twig' %}

{% set languagesEnum = enum('LanguageEnum') %}

{% block title %}Lista de Produtos{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            $('#tabela').DataTable({
                "lengthMenu": [[ 10, 25, 50, 100,-1], [ 10, 25, 50, 100,"Todos"]],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)",
                    "search": " Pesquisar",

                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>

    <div class="row text-end">
        <div class="col mb-3">
            <a href="{{ path('app_admin_product_new') }}"
               type="button"
               class="btn btn-success text-white">Novo</a>
        </div>
    </div>

    <div class="card mb-5">
        <h5 class="card-header">
            Categorias de notícias
        </h5>
        <div class="card-body">
            <table class="table" id="tabela">
                <thead>
                <tr>
                    <th class="text-center">Status</th>
                    <th class="text-center">Título</th>
                    <th class="text-center">Imagem</th>
                    <th class="text-center">Idioma</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td class="text-center">
                            {% if product.status %}
                                <span class="badge badge-sm bg-success ms-auto mt-2">Ativo</span>
                            {% else %}
                                <span class="badge badge-sm bg-danger ms-auto mt-2">Inativo</span>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ product.title }}</td>
                        <td class="text-center">
                            {% if product.imageFile is not null %}
                                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" width="75px">
                            {% endif %}
                        </td>
                        <td class="text-center">{{ languagesEnum.getFlag(product.language)|raw }}</td>
                        <td class="text-center">
                            <a class="btn btn-primary"
                               href="{{ path('app_admin_product_edit', {'id': product.id}) }}">
                                Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
