{{ form_start(form) }}
<div class="row">
    <div class="mb-3 col col-12">
        <label for="{{ form.description.vars.id }}" class="form-label">Descrição</label>
        {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-12">
        <label for="{{ form.title.vars.id }}" class="form-label">Título</label>
        {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="mb-3 col col-6 mt-3">
        {{ form_widget(form.manualFile) }}
        {% if product_manual.fileName %}
            <a class="btn btn-secondary mt-3 text-decoration-none text-white" target="_blank" href="{{ vich_uploader_asset(product_manual, 'manualFile') }}">Ver PDF</a>
        {% endif %}
    </div>

</div>

<button class="btn btn-info float-start text-white mt-3">Salvar</button>
{{ form_end(form) }}
